@charset "UTF-8";
body{
    background-color: rgb(255, 255, 255);
}

h1{
    font-family: LoRes-12, sans-serif;
padding: 1%;
    font-weight: 700;
    margin-top: 0px;
    font-style: normal;
    color: slategrey;
    margin-bottom: 0%;
    font-size: larger;
  
  
}

h2{
    padding: 1%;
   font-weight: lighter;
    color: grey ;
    margin-top: 1%;
    padding: 5%;
    margin-bottom: 0px;
    font-size: smaller;
  text-align: left;
    font-family: hero-new, sans-serif;

    font-weight: 200;
    
    font-style: normal;
  

}
h3{
   text-align: left;
   padding: 3%;
    font-weight: bold;
     color:white ;
  
  
     font-family: LoRes-12, sans-serif;

     font-weight: 700;
  
 
 font-style: bold;
 
 }

  h5{
    text-align: left;
    margin-left: 3%;
    margin-top: 0px;
    padding: 1%;
    margin-bottom: 0px;

     font-weight: bold;
      color: gray;

   
      font-size: large;
     border: solid;
     border-color: black;
      font-family: LoRes-12, sans-serif;
  font-style: bold;
  
  }
  h6{
    text-align: left;
    margin-left: 3%;
    margin-top: 5px;
    padding: 1%;
    margin-bottom: 0px;

     font-weight: bold;
      color: gray;

   
      font-size: large;
     border: solid;
     border-color: lightslategray;
      font-family: LoRes-12, sans-serif;
  font-style: bold;
  
  }
  h4{
    text-align: left;
    margin-left: 3%;
    margin-top: 0px;
    padding: 1%;
    margin-bottom: 0px;

     font-weight: bold;
      color: gray;

   
      font-size: small;
     border: solid;
     border-color: black;
      font-family: hero-new, sans-serif;
  font-style: bold;
  
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;

  }
.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    flex-direction: row;
    
   
  }

  .row {
    display: flex;
  
   align-items: left;
    width: 100%;
    flex-direction: row;
    padding: 0px;
    margin-top: 0px;
    
   
  }
  .column {
 align-items: center;
    width: 100%;
    margin: 0;
    padding-top: 10px;
  
   
  }
  .column2 {
    align-items: center;
       width: 50%;
       margin: 0;
       padding-top: 10px;
       padding-left: 1%;
       display: flex;
       flex-direction: row;
      
     }
   .column3 {
    align-items: center;
       width: 60%;
       margin: 0;
       padding-top: 10px;
       padding-left: 1%;
       display: flex;
       flex-direction: row;
      
     }
     .column4 {
      align-items: center;
         width: 40%;
         margin: 0;
         padding-top: 10px;
         padding-left: 1%;
         display: flex;
         flex-direction: row;
        
       }
  .column1{
    align-items: center;
    width: 100%;
    margin: 1%;
   padding: 1%;
   display: flex;
  }
  .column1>div{
    text-align: centre;
    width: 50%;
  padding:1%;
    margin: 0;
    padding:1%;
    border-left: solid;
    border-width: 1px;
    border-color: gray;
    align-items: right;
    flex-direction: row;
  }
  


  

  a{
      text-decoration: none;
  }

@media screen and (max-width: 600px) {
 
  
    
      .row{
        width: 100%;
        flex-direction: column;
    }
    .column2{
        width: 100%;
    }
    .text{
        padding-top: 2%;
        width: 100%;
       
    }
    h2{
        font-size: smaller;
    }
}